@model Noob.Web.Admin.Models.AdmUserModel
@{
    ViewBag.Title = "重置密码";
    Layout = null;
}

<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'center'" style="padding: 10px;">
        <form id="add_data" action="">
            @Html.AntiForgeryToken()
            <table width="100%">
                <tr>
                    <td align="right">
                        新密码：
                    </td>
                    <td>
                        <input type="password" id="txtPassword" name="Password"
                               required="required" class="easyui-textbox easyui-validatebox" />
                        <span id="tt" style="color: Red; margin-left: 5px">*</span>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        密码确认：
                    </td>
                    <td>
                        <input type="password" id="Password2" name="Password2"
                               class="easyui-textbox easyui-validatebox" required="required" validtype="equals['#txtPassword']" />
                        <span style="color: Red; margin-left: 5px">*</span>
                    </td>
                </tr>
            </table>
            <input type="hidden" value="@ViewBag.UserID " name="UserID" />
        </form>
    </div>
    <div data-options="region:'south',border:false" style="text-align: right; height: 33px;
        padding: 3px 10px 0;">
        <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" id="btn_saveItem" href="javascript:void(0)"
           onclick="savePasswords()" style="width: 80px">保存</a>
    </div>
</div>
<script type="text/javascript">

    function savePasswords() {
        var flag = formIsValid();
        if (!flag) return;

        if (checkPass($("#txtPassword").val()) < 3) {
            alert("密码长度至少8位，必须包含字母，数字，特殊字符！");
            $("#txtPassword").focus();
            return false;
        }

        var data = $("#add_data").serialize();

        $.ajax({
            type: "POST",
            url: rootUrl+"User/ResetPassWord",
            data: data,
            success: function (data) {
                //隐藏遮罩,by michael in 2014/7/9
                loaded({ btn: 'btn_saveItem' });
                if (data.Code != undefined) {
                    if (data.Code == 1) {
                        $.messager.alert('提示', '保存成功。', 'info', function () {
                            reloadData();
                            closeDialog();
                        });
                    }
                    else {
                        $.messager.alert('提示', data.Msg, 'error');
                    }
                }
                else {
                    $.messager.alert('提示', '系统错误，请联系管理人员！', 'error');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                // alert(XMLHttpRequest.status);
                //alert(XMLHttpRequest.readyState);
                // alert(textStatus);
                //console.log(errorThrown);
            },
            complete: function (XMLHttpRequest, textStatus) {
                this; // 调用本次AJAX请求时传递的options参数
            }
        });
    }
    function formIsValid() {
        //获取form id=add_data ，下html为input，css类为easyui-validatebox 的所有对象
        var validHtml = $("#add_data input.easyui-validatebox");
        var flag = true;
        for (var i = 0; i < validHtml.length; i++) {
            //对每个对象进行验证，如果不通过则退出
            flag = $(validHtml[i]).validatebox("isValid");
            if (!flag) {
                return false;
            }
        }
        return flag;
    }

    function checkPass(pass) {
        if (pass.length < 8) {
            return 0;
        }
        var ls = 0;
        if (pass.match(/([a-z])+/)) {
            ls++;
        }
        if (pass.match(/([0-9])+/)) {
            ls++;
        }
        if (pass.match(/([A-Z])+/)) {
            ls++;
        }
        if (pass.match(/[^a-zA-Z0-9]+/)) {
            ls++;
        }
        return ls;
    }
    $(function () {
        $.ajaxSetup({
            cache: false
        });
        $("#txtPassword").blur(function () {
            var Vpwd1 = $("#txtPassword").val();
            if (Vpwd1.indexOf("●") > -1) {
                $.messager.alert('提示', '新密码不能包含字符\"●\"', 'error');
                $("#txtPassword").val("");
            }
        })
    })

</script>



