@{
    Layout = null;
}
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'center'" style="padding:10px;">
        <form id="add_data" action="">
            @Html.AntiForgeryToken()
            <table width="100%">
                <tr>
                    <td align="right">地区编号：</td>
                    <td><input id="txtAreaID" type="text" name="AreaID"  class="easyui-numberbox" data-options="required:true" style="width:150px;" /><span style="color:Red;margin-left:5px">*</span></td>
                </tr>
                <tr>
                    <td align="right">地区名称：</td>
                    <td><input id="txtAreaName" type="text" name="AreaName"  class="easyui-textbox" data-options="required:true" style="width:150px;" /><span style="color:Red;margin-left:5px">*</span></td>
                </tr>
                <tr>
                    <td align="right">地区类型：</td>
                    <td>
                       <select id="sltLevelType" name="LevelType" class="easyui-combobox" style="width:150px;">
                            <option selected="selected" value="1">直辖市或者省</option>
                            <option  value="2">直辖市或省下市</option>
                            <option  value="3">直辖市区县</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td align="right">地区简称：</td>
                    <td><input type="text" id="txtShortName" class="easyui-textbox" data-options='required:true' name="ShortName" style="width:150px;" /></td>
                </tr>
                <tr>
                    <td align="right">区号：</td>
                    <td><input type="text" id="txtCityCode" class="easyui-textbox" data-options='' name="CityCode" style="width:150px;" /></td>
                </tr>
                <tr>
                    <td align="right">邮编：</td>
                    <td><input type="text" id="txtZipCode" class="easyui-textbox" data-options='' name="ZipCode" style="width:150px;" /></td>
                </tr>
                <tr>
                    <td align="right">经度：</td>
                    <td><input type="text" id="txtLng" class="easyui-textbox" data-options='required:true' name="Lng" style="width:150px;" /></td>
                </tr>
                <tr>
                    <td align="right">纬度：</td>
                    <td><input type="text" id="txtLat" class="easyui-textbox" data-options='required:true' name="Lat" style="width:150px;" /></td>
                </tr>
                <tr>
                    <td align="right">拼音：</td>
                    <td><input type="text" id="txtPinYin" class="easyui-textbox" data-options='' name="PinYin" style="width:150px;" /></td>
                </tr>
                <tr>
                    <td align="right">拼音缩写：</td>
                    <td><input type="text" id="txtShortPinYin" class="easyui-textbox" data-options='' name="ShortPinYin" style="width:150px;" /></td>
                </tr>
                <tr>
                    <td align="right">拼音第一个字母：</td>
                    <td><input type="text" id="txtPYFirstLetter" class="easyui-textbox" data-options='' name="PYFirstLetter" style="width:150px;" /></td>
                </tr>
                <tr>
                    <td align="right">排序：</td>
                    <td><input type="text" id="txtSortOrder" class="easyui-textbox" data-options='required:true,validType: "number"' name="SortOrder" style="width:150px;" /></td>
                </tr>
                <tr>
                    <td align="right">账号状态：</td>
                    <td>
                        <select name="Status" id="sltStatus" style="width:126px;" class="easyui-combobox" editable="false" data-options='panelHeight:50,required:true'>
                            <option value="1">启用</option>
                            <option value="0">禁用</option>
                        </select><span style="color:Red;margin-left:5px">*</span>
                    </td>
                </tr>
            </table>
            <input type="hidden" name="ParentID" value="@ViewBag.pid" id="hidPid" />
        </form>
    </div>
    <div data-options="region:'south',border:false" style="text-align:right; height:33px; padding:3px 10px 0;">
        <a class="easyui-linkbutton" id="btn_saveItem" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="saveData()" style="width:80px">保存</a>
    </div>
</div>
<script type="text/javascript">
    function formIsValid() {
        //获取form id=add_data ，下html为input，css类为easyui-validatebox 的所有对象
        var validHtml = $("#add_data input.easyui-textbox");
        var flag = true;
        for (var i = 0; i < validHtml.length; i++) {
            //对每个对象进行验证，如果不通过则退出
            flag = $(validHtml[i]).textbox("isValid");
            if (!flag) {
                break;
            }
        }
        return flag;
    }
    function saveData() {
        triminput("#add_data");
        var flag = formIsValid();
        if (!flag) {
            $.messager.alert('提示', '有必填项为空或输入数据格式不对，请检查！', 'error');
            return;
        }
        var data = $("#add_data").serialize();

        //显示遮罩,by michael in 2014/7/9
        loading({ btn: 'btn_saveItem' });

        $.ajax({
            type: "POST",
            url: rootUrl + "Area/Create",
            data: data,
            success: function (data) {
                //隐藏遮罩,by michael in 2014/7/9
                loaded({ btn: 'btn_saveItem' });
                if (data.Code != undefined) {
                    if (data.Code == 1) {
                        $.messager.alert('提示', '保存成功。', 'info', function () {
                            reloadData();
                            closeDialog();
                        });
                    }
                    else {
                        $.messager.alert('提示', data.Msg, 'error');
                    }
                }
                else {
                    $.messager.alert('提示', '系统错误，请联系管理人员！', 'error');
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                // alert(XMLHttpRequest.status);
                //alert(XMLHttpRequest.readyState);
                // alert(textStatus);
                //console.log(errorThrown);
            },
            complete: function (XMLHttpRequest, textStatus) {
                this; // 调用本次AJAX请求时传递的options参数
            }
        });
    }
</script>

