@{
    ViewBag.Title = "系统配置";
}

<div data-options="region:'north',border:true,iconCls:'icon-search'" title="查询" class="divNorth">
    <label style="margin-left:15px"> 配置组名称：<input type="text" id="txtSearchConfigGroupName" class="easyui-textbox" /></label>
    <label style="margin-left:15px">配置名称：<input type="text" id="txtSearchConfigName" class="easyui-textbox" /></label>
    <label style="margin-left:15px">配置标识名称：<input type="text" id="txtSearchConfigCode" class="easyui-textbox" /></label>
    <a href="#" id="btn_search" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="width:80px" onclick="searchCodeData()">查 询</a>
</div>
<div data-options="region:'center',border:false" class="divCenter">
    <table id="dg"></table>
    <div id="tbar" style="text-align:right">
        <a href="javascript:void(0)" onclick="openDialog()" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" style="margin-right:15px;display:@ViewBag.Create">新增</a>
    </div>
    <input type="hidden" value="@ViewBag.Edit" id="hidIsEdit" />
</div>
<script type="text/javascript" src="@Url.Content(ViewBag.RootUrl + "Scripts/Admin/Admin/Config.js")"></script>
