<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.Admin/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.Admin/2001/XMLSchema-instance"
      autoReload="true">
  <!-- 
  See https://github.com/nLogs/nLogs/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">
    <target name="consoleFile" xsi:type="ColoredConsole"
            layout="${date:format=HH\:mm\:ss}|${level}|${logger}|${callsite}|${message}|${exception:format=ToString}"/>
    <target name="file" xsi:type="File" fileName="${basedir}/Logs/NLog/Log/${level}/${shortdate}.log"
            layout="${date:format=HH\:mm\:ss}|${level}|${logger}|${callsite}|${message}|${exception:format=ToString}"/>
    <target name="RequestFile" xsi:type="File" fileName="${basedir}/Logs/NLog/Request/${level}/${shortdate}.log"
        layout="${date:format=HH\:mm\:ss}|${level}|${logger}|${callsite}|${message}|${exception:format=ToString}"/>
    <target name="OrmLiteFile" xsi:type="File" fileName="${basedir}/Logs/NLog/OrmLite/${level}/${shortdate}.log"
            layout="${date:format=HH\:mm\:ss}|${level}|${logger}|${callsite}|${message}|${exception:format=ToString}"/>
    <target name="OwinOAuthFile" xsi:type="File" fileName="${basedir}/Logs/NLog/OwinOAuth/${level}/${shortdate}.log"
        layout="${date:format=HH\:mm\:ss}|${level}|${logger}|${callsite}|${message}|${exception:format=ToString}"/>
    <target name="WeixinPayFile" xsi:type="File" fileName="${basedir}/Logs/NLog/Pay/WeixinPay/${level}/${shortdate}.log"
           layout="${date:format=HH\:mm\:ss}|${level}|${logger}|${message}|${exception:format=ToString}"/>
    <target name="AlipayFile" xsi:type="File" fileName="${basedir}/Logs/NLog/Pay/Alipay/${level}/${shortdate}.log"
          layout="${date:format=HH\:mm\:ss}|${level}|${logger}|${message}|${exception:format=ToString}"/>
    <!-- 发送日志到126邮箱-->
    <target xsi:type="Mail"
            name="mail"
            smtpServer="smtp.126.com"
            smtpPort="25"
            enableSsl="true"
            smtpAuthentication="Basic"
            smtpUserName="huxinjishubu@126.com"
            smtpPassword="huxinjishubu365"
            from="huxinjishubu@126.com"
            to="huxinjishubu@126.com"
            subject="在线支付错误日志"
            addNewLines="true"
            layout="${date:format=HH\:mm\:ss}|${level}|${logger}|${message}|${exception:format=ToString}"
            />
    <!-- 测试环境 hkmall_app_trunk_test_new http://192.168.16.240:9009/ -->
    <!--
     <target xsi:type="Network"
        name="udp"
        encoding="utf-8"
        address="udp://192.168.16.240:2020"
        layout="${log4jxmlevent:includeSourceInfo=true:includeCallSite=true:includeMDC=true:appInfo=HKMallNew:includeNDC=true:includeNLogData=true}">
     </target>
    -->

    <!-- 测试环境 hkmall_app_trunk_test  http://192.168.16.240:9005/ -->
    <!--
     <target xsi:type="Network"
        name="udp"
        encoding="utf-8"
        address="udp://192.168.16.240:2020"
        layout="${log4jxmlevent:includeSourceInfo=true:includeCallSite=true:includeMDC=true:appInfo=HKMall:includeNDC=true:includeNLogData=true}">
     </target>
    -->
    <!-- 预生产环境 http://192.168.16.160:9001/ -->
    <!--
     <target xsi:type="Network"
        name="udp"
        encoding="utf-8"
        address="udp://192.168.16.240:2020"
        layout="${log4jxmlevent:includeSourceInfo=true:includeCallSite=true:includeMDC=true:appInfo=HKMall160:includeNDC=true:includeNLogData=true}">
     </target>
    -->

  </targets>

  <rules>
    <!--<logger name="*" minlevel="Trace" writeTo="udp"/>-->
    <!-- <logger name="*" minlevel="Trace" writeTo="consoleFile"/>-->
    <logger name="*" minlevel="Trace" writeTo="file">
      <filters>
        <whenContains layout='${callsite}' substring='OwinOAuth' action='Ignore' ignoreCase='true' />
        <whenContains layout='${logger}' substring='OrmLite' action='Ignore' ignoreCase='true' />
        <whenContains layout='${logger}' substring='RequestHelper' action='Ignore' ignoreCase='true' />
        <whenContains layout='${logger}' substring='Alipay' action='Ignore' ignoreCase='true' />
        <whenContains layout='${logger}' substring='WeixinPay' action='Ignore' ignoreCase='true' />
      </filters>
    </logger>
   <!-- 
   <logger name="*OrmLiteWriteCommandExtensions" minlevel="Trace" writeTo="OrmLiteFile">
    </logger>
    <logger name="*OrmLiteReadCommandExtensions" minlevel="Trace" writeTo="OrmLiteFile">
    </logger>
    -->
    <logger name="*RequestHelper*" minlevel="Trace" writeTo="RequestFile"/>
    <logger name="*OrmLite*" minlevel="Trace" writeTo="OrmLiteFile"/>
    <logger name="*OwinOAuth*" minlevel="Trace"  writeTo="OwinOAuthFile"/>
    <logger name="*WeixinPay*" minlevel="Trace" writeTo="WeixinPayFile"/>
    <logger name="*Alipay*" minlevel="Trace" writeTo="AlipayFile"/>
    <logger name="*Pay*" minlevel="Error" maxlevel="Error" writeTo="mail"/>
  </rules>
</nlog>