<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="GeneralConfigs">
      <section name="WebConfig" type="System.Configuration.NameValueSectionHandler,System, Version=4.0.0.0, Culture=neutral,PublicKeyToken=b77a5c561934e089" />
      <section name="AdminConfig" type="System.Configuration.NameValueSectionHandler,System, Version=4.0.0.0, Culture=neutral,PublicKeyToken=b77a5c561934e089" />
      <section name="DbConfig" type="System.Configuration.NameValueSectionHandler,System, Version=4.0.0.0, Culture=neutral,PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>
  <!---基础配置信息 start-->
  <GeneralConfigs>
    <!---网站配置 start-->
    <WebConfig>
      <!--网站名称-->
      <add key="WebTitle" value="互联网站内容管理系统" />
      <!-- 网站url地址-->
      <add key="WebUrl" value="http://www.wtane.com" />
      <!--ICP备案-->
      <add key="ICP" value="ICP备案" />
      <!--统计代码-->
      <add key="StatCode" value="统计代码" />
      <!--当前站点web园进程数   -->
      <add key="WebGarden" value="1" />
      <!-- 网站版权文字  -->
      <add key="Copyright" value="2013-2016" />
      <!-- 网址根目录地址  -->
      <add key="RootUrl" value="/" />
      <!-- 上传目录  -->
      <add key="UploadDir" value="Uploads" />
      <!-- 上传目录  -->
      <add key="UploadUrl" value="/Uploads/" />
    </WebConfig>
    <!---网站配置 end-->
    <!---网站配置 start-->
    <AdminConfig>
      <!--网站名称-->
      <add key="WebTitle" value="互联网站内容管理系统" />
      <!-- 网站url地址-->
      <add key="WebUrl" value="http://www.wtane.com" />
      <!--ICP备案-->
      <add key="ICP" value="ICP备案" />
      <!--统计代码-->
      <add key="StatCode" value="统计代码" />
      <!--当前站点web园进程数   -->
      <add key="WebGarden" value="1" />
      <!-- 网站版权文字  -->
      <add key="Copyright" value="2013-2016" />
      <!-- 网址根目录地址  -->
      <add key="RootUrl" value="/" />
      <!-- 上传目录  -->
      <add key="UploadDir" value="Uploads" />
      <!-- 上传目录  -->
      <add key="UploadUrl" value="/Uploads/" />
    </AdminConfig>
    <!---网站配置 end-->

    <!---数据库配置 start-->
    <DbConfig>
      <!-- 数据库连接串-->
      <add key="DbConnectString" value="Data Source=.;Database=CNTrade; User=sa;Password=123456; Pooling=True; Max Pool Size=50;Connect Timeout=120;MultipleActiveResultSets=True;Max Pool Size=10; Min Pool Size=5;pooling = true;" />
      <!-- 数据库中表的前缀-->
      <add key="TablePrefix" value="tb_" />
      <!--数据库类型-->
      <add key="DbType" value="SQLServer" />
      <!--Sql语句执行最长时间-->
      <add key="CommandTimeout" value="30" />
    </DbConfig>
    <!---数据库配置 end-->
    <!---Email配置 start-->
    <EmailConfig>
      <!--  SMTP Host name/IP -->
      <add key="Host" value="smtp.126.com" />
      <!--  SMTP Port -->
      <add key="Port" value="25" />
      <!--  User name to login to SMTP server -->
      <add key="UserName" value="huxinjishubu@126.com" />
      <!--  Password to login to SMTP server -->
      <add key="Password" value="huxinjishubu@126.com" />
      <!--  Domain name to login to SMTP server -->
      <add key="Domain" value="smtp.126.com" />
      <!--  Is SSL enabled? -->
      <add key="EnableSsl" value="false" />
      <!--  Use default credentials? -->
      <add key="UseDefaultCredentials" value="false" />
    </EmailConfig>
    <!---Email配置 end-->
  </GeneralConfigs>
  <!---基础配置信息 end-->
</configuration>