<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="RollingFileInfo" type="log4net.Appender.RollingFileAppender">
    <file value="Logs\log4net\Info\" />
    <appendToFile value="true" />
    <param name="AppendToFile" value="true"/>
    <param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;"/>
    <param name="RollingStyle" value="Date"/>
    <param name="StaticLogFileName" value="false"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%c %C %date [%thread] %-5level - %message%newline"></conversionPattern>
    </layout>
    <filter type="log4net.Filter.LevelMatchFilter">
      <param name="LevelToMatch" value="INFO" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
  </appender>

  <appender name="RollingFileDebug" type="log4net.Appender.RollingFileAppender">
    <file value="Logs\log4net\Debug\" />
    <appendToFile value="true" />
    <param name="AppendToFile" value="true"/>
    <param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;"/>
    <param name="RollingStyle" value="Date"/>
    <param name="StaticLogFileName" value="false"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%c %C %date [%thread] %-5level - %message%newline"></conversionPattern>
    </layout>
    <filter type="log4net.Filter.LevelMatchFilter">
      <param name="LevelToMatch" value="DEBUG" />
    </filter>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="ServiceStack.OrmLite" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
  </appender>
  <appender name="RollingFileWarn" type="log4net.Appender.RollingFileAppender">
    <file value="Logs\log4net\Warn\" />
    <appendToFile value="true" />
    <param name="AppendToFile" value="true"/>
    <param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;"/>
    <param name="RollingStyle" value="Date"/>
    <param name="StaticLogFileName" value="false"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%c %C %date [%thread] %-5level - %message%newline"></conversionPattern>
    </layout>
    <filter type="log4net.Filter.LevelMatchFilter">
      <param name="LevelToMatch" value="WARN" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
  </appender>

  <appender name="RollingFileError" type="log4net.Appender.RollingFileAppender">
    <file value="Logs\log4net\Error\" />
    <appendToFile value="true" />
    <param name="AppendToFile" value="true"/>
    <param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;"/>
    <param name="RollingStyle" value="Date"/>
    <param name="StaticLogFileName" value="false"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%c %C %date [%thread] %-5level  - %message%newline"></conversionPattern>
    </layout>
    <filter type="log4net.Filter.LevelMatchFilter">
      <param name="LevelToMatch" value="Error" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
  </appender>
  <appender name="RollingFileFatal" type="log4net.Appender.RollingFileAppender">
    <file value="Logs\log4net\Fatal\" />
    <appendToFile value="true" />
    <param name="AppendToFile" value="true"/>
    <param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;"/>
    <param name="RollingStyle" value="Date"/>
    <param name="StaticLogFileName" value="false"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%c %C %date [%thread] %-5level - %message%newline"></conversionPattern>
    </layout>
    <filter type="log4net.Filter.LevelMatchFilter">
      <param name="LevelToMatch" value="FATAL" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
  </appender>
  <!--保存到数据库-->
  <appender name="FastDbAppender" type="WaWifi.Common.Log.FastDbAppender, WaWifi">
    <connectionType value="MySql.Data.MySqlClient.MySqlConnection,MySql.Data" />
    <connectionString value="Data Source=192.168.1.61;User ID=root;Password=root;Port=3314;DataBase=wawifi;Allow Zero Datetime=true;Charset=gbk;Max Pool Size=10; Min Pool Size=5;pooling = true;"/>
    <filter type="log4net.Filter.LevelMatchFilter">
      <param name="LevelToMatch" value="FATAL" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
  </appender>
  <!--保存到数据库-->

  <!--保存到数据库-->
  <appender name="AdoNetAppender_MySql" type="log4net.Appender.AdoNetAppender" >
    <connectionType value="MySql.Data.MySqlClient.MySqlConnection,MySql.Data" />
    <connectionString value="Data Source=192.168.1.61;User ID=root;Password=root;Port=3314;DataBase=wawifi;Allow Zero Datetime=true;Charset=gbk;Max Pool Size=10; Min Pool Size=5;pooling = true;"/>
    <commandText value="INSERT INTO log_errorlog(CreateTime,Thread,Level,Logger,Message,Exception) VALUES (@log_date, @thread, @log_level, @logger, @message,@exception)" />
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.PatternLayout" value="%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}" />
    </parameter>
    <parameter>
      <parameterName value="@thread" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout" value="%thread" />
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout" value="%level" />
    </parameter>
    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout" value="%logger" />
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout" value="%message" />
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="0" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
    <filter type="log4net.Filter.LevelMatchFilter">
      <param name="LevelToMatch" value="Error" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
  </appender>
  <!--保存到数据库-->

  <root name="logger" additivity="false">
    <appender-ref ref="RollingFileInfo" />
    <appender-ref ref="RollingFileDebug" />
    <appender-ref ref="RollingFileWarn" />
    <appender-ref ref="RollingFileError" />
    <appender-ref ref="RollingFileFatal" />
    <!-- <appender-ref ref="FastDbAppender" />
    <appender-ref ref="AdoNetAppender_MySql" /> -->
  </root>

</log4net>