@{
    ViewBag.Title = "支付配置";
}
<style type="text/css">
    .tree-folder {
        width: 0px;
    }

    .tree-file {
        width: 0px;
    }
</style>
<div data-options="region:'center',border:false" class="divCenter">
    <table id="dg"></table>
    <div id="tbar" style="text-align:right">
        <a href="javascript:void(0)" onclick="createModule()" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" style="display:@ViewBag.Create">添加</a>
        <a href="javascript:void(0)" onclick="updateModule()" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" style="display:@ViewBag.Edit">编辑</a>
        <a href="javascript:void(0)" onclick="deleteModule()" class="easyui-linkbutton" data-options="iconCls:'icon-cut',plain:true" style="display:@ViewBag.Delete">删除</a>
    </div>
</div>
<script type="text/javascript">
    var isEdit = "1";
    var isUpdateStatus = "1";
</script>
<script type="text/javascript" src="@Url.Content(ViewBag.RootUrl + "Scripts/Admin/Admin/PayConfigs.js")"></script>

